# Git
.git
.gitignore

# Python caches
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Local database
# db.sqlite3
# src/db.sqlite3

# Local settings / sensitive files
.env
.venv
env/
venv/
ENV/

# OS metadata
.DS_Store
Thumbs.db
