{% load static %}

<section class="container" id="Contact">
    <h1>Contact</h1>
    <div>
      <p>Feel free to contact me at any time for any questions. You can contact me by email, LinkedIn or Instagram, or you can open an issue or pull request for any open source project on GitHub. </p>
      <a href="mailto:dusan.vlajkovac@outlook.com?subject=Potential work interest" class="btn btn-primary rounded-pill px-3 mail-btn">Email Me</a>
    </div>
    <div class="map-div">
      <iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2868.997136124304!2d20.89904158567204!3d44.021453696536994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475721376a7f859d%3A0x2f93025eaec8f0d4!2sKralja%20Milana%20IV%2C%20Kragujevac!5e0!3m2!1sen!2srs!4v1712563594901!5m2!1sen!2srs" width="400" height="400" style="border: 1px solid black;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>


